<div id="user_page">
  <div id="user_sector">
    <div id="left_column">
      <%= image_tag @user.avatar.url(:medium), alt: @user.full_name, class: 'avatar_big' %>
      <%
         if current_user?(@user) %>
          <%=
              link_to 'Edit', edit_user_path(@user)
          %>
      <%
         end
      %>

      <% unless current_user?(@user) %>

          <% if current_user.is_friend_with?(@user) %>
              <%= link_to 'Unfriend', unfriend_user_path, method: :delete%>
          <% elsif current_user.requested_friendship_with?(@user) %>
              <%= link_to "Recall friendship", recall_friendship_user_path, method: :delete %>
          <% elsif current_user.has_pending_friendship_from?(@user) %>
              <%= link_to "Accept friendship", accept_friendship_user_path, method: :post %>
              <%= link_to "Decline friendship", decline_friendship_user_path, method: :delete %>
          <% else %>
                <%= link_to "Request friendship", request_friendship_user_path, method: :put %>
          <% end %>


      <% end %>
      <%= render 'friends_block' %>
    </div>
    <div id="right_column">
      <h1><%= @user.full_name %>
        <% if current_user?(@user) %>(Это вы)
        <% end %></h1>

    </div>
  </div>
  <div id="books_sector">
    <%= link_to "Add a book", new_book_specimen_path, class: 'btn btn-primary btn-large center', id: 'add_book' %>

    <%= render 'users/books_container' %>

  </div>
</div>