<% provide(:title, @book.title) %>

<h1><%= @book.title %></h1>
<h3>
  <% @book.authors.each do |author| %>
      <%= link_to(author) do %>
          <span class="author"><%= author.get_short_name %></span>
      <% end %>
  <% end %>

</h3>
<h3>
  Владелец: <%= link_to @user.full_name, @user%>
  <%= "(Это вы)" if current_user?(@user)  %>
</h3>
  <p class="detail"><%= @book.detail %></p>