%h3 Embedded search here
%div
	- #источник запроса - в переменной local[:source]
	- if locals[:source].present? && locals[:source] == 'new_specimen'
		= form_tag(new_book_specimen_path) do
			= label_tag 'author[query]', 'Author'
			= text_field_tag 'author[query]', '', :typeahead => 'author as author.name for author in get_authors($viewValue)', :'ng-model' => 'selected_author'
			= label_tag 'author_id', 'Author_id'
			= text_field_tag 'author_id', '', id: 'author_id', :'ng-model' => 'selected_author.id'
			= label_tag 'book[query]', 'Book title'
			= text_field_tag 'book[query]', '',         |
				:'ng-model' => 'book_query',              |
				:'ng-disabled' => '!(selected_author.id)' |
			-#
			= link_to 'Search', '', class: "btn btn-large", |
				:'ng-disabled' => '!(selected_author.id)',    |
				:'ng-click' => 'get_books(book_query)'        |
			= hidden_field_tag 'book_id', id: 'book_id', :'ng-model' => 'selected_book.id'
			%ul#books_container
				.book_wrapper{"ng-repeat" => "book in books"}
					= render 'books/book_angular'
