- provide(:title, 'Create new book')
=render 'shared/top_header'
.row
	.large-12.columns
		%h1 Создать новую книгу
	.row
		%p
			Пожалуйста, прежде чем приступать к этому шагу, попробуйте найти эту книгу
			в #{link_to "поиске", new_book_specimen_path}
		.span6.offset3
			= form_for(@book) do |f|
				= f.label :author_names, 'Автор(ы)'
				.items
					= f.nested_fields_for :authors do |f|
						%fieldset.item
							/ <haml_loud> f.label :name, &quot;Автор&quot; </haml_loud>
							= f.hidden_field :name
							= f.text_field :id
							%a.remove{:href => "#"} убрать
							= f.hidden_field :_destroy
				%a.add{:href => "#"} добавить автора
				= f.label :title, 'Название'
				= f.text_field :title
				= f.label :publish_year, 'Год выпуска'
				= f.text_field :publish_year
				= f.label :detail, 'Описание'
				= f.text_area :detail
				= f.submit 'Создать'
