<% provide(:title,'Create new book') %>
<h1>Создать новую книгу</h1>



<div class="row">
  <p>Пожалуйста, прежде чем приступать к этому шагу, попробуйте найти эту книгу в <%= link_to "поиске", new_book_specimen_path %></p>
  <div class="span6 offset3">
    <%= form_for(@book) do |f| %>

        <%= f.label :author_names, 'Автор(ы)' %>

        <div class="items">
          <%= f.nested_fields_for :authors do |f| %>

            <fieldset class="item">
              <%= f.label :name, 'Автор'%>
              <%= f.hidden_field :name %>
              <%= f.text_field :id %>

              <a class="remove" href="#">убрать</a>

              <%= f.hidden_field :_destroy %>

            </fieldset>

          <% end %>
              </div>
        <a class="add" href="#">добавить автора</a>

        <%= f.label :name, 'Название' %>
        <%= f.text_field :name %>

        <%= f.label :publish_year, 'Год выпуска' %>
        <%= f.text_field :publish_year %>

        <%= f.label :detail, 'Описание' %>
        <%= f.text_area :detail %>

        <%= f.submit 'Создать' %>



    <% end %>
  </div>
</div>
